
body {
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.App {
  text-align: center;
  padding: 20px;
}

.user-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.user-card {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 10px;
  padding: 20px;
  text-align: left;
  color: #fff;
}

.user-list p{
  color: #456483;
  margin: 0px 0;

}

.user-list img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 10px;
}

input[type="text"] {
  padding: 8px;
  
}

input{
  width: 50%;
  margin-bottom: 22px;
}

button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Add more styles as needed */
